<div class="card-group mt-5">
    <div class="card" style="cursor: pointer;" (click)="abrirDetalle('desayunos');">
      <img class="card-img-top img-center" src="../../../assets/img/desayuno.png" alt="Desayunos">
      <div class="card-body">
        <h5 class="card-title text-center">Desayunos</h5>
        <p class="card-text"></p>
      </div>
    </div>
    <div class="card" style="cursor: pointer;" (click)="abrirDetalle('comidas');">
      <img class="card-img-top img-center" src="../../../assets/img/comida.png" alt="Comidas">
      <div class="card-body">
        <h5 class="card-title text-center">Comidas</h5>
        <p class="card-text"></p>
      </div>
    </div>
    <div class="card" style="cursor: pointer;" (click)="abrirDetalle('cenas');">
      <img class="card-img-top img-center" src="../../../assets/img/cena.png" alt="Cenas">
      <div class="card-body">
        <h5 class="card-title text-center">Cenas</h5>
        <p class="card-text"></p>
      </div>
    </div>
    <div class="card" style="cursor: pointer;" (click)="abrirDetalle('postres');">
        <img class="card-img-top img-center" src="../../../assets/img/postres.png" alt="Postres">
        <div class="card-body">
          <h5 class="card-title text-center">Postres</h5>
          <p class="card-text"></p>
        </div>
      </div>
      <div class="card" style="cursor: pointer;" (click)="abrirDetalle('bebidas');">
        <img class="card-img-top img-center" src="../../../assets/img/bebida.png" alt="Bebidas">
        <div class="card-body">
          <h5 class="card-title text-center">Bebidas</h5>
          <p class="card-text"></p>
        </div>
      </div>
  </div>
